*{
    margin: 0px;
    padding: 0px;
    
}

header{
    margin: 0px;
    padding: 0px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.letras{
    color: white;
}
.letrasn{
    color: black;
}

.letras:hover{
    color: beige;
}
.letras:focus{
    color: beige;
}
.letras:checked{
    color: beige;
}

section {
    background-image: url("Img/imagen1.png");
    display: block;
    width: 80%;
    height: 300px;
    margin: auto;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center center;
  }

 